<div class="container">
  <div class="title">
    <h1 class="question_title"><%= @question.title %></h1>
  </div>

  <!-- <div class="body"> -->

    <div class="sidebar">
      <table>
        <tr>
          <td class="stats">asked</td>
          <td>date</td>
        </tr>
        <tr>
          <td class="stats">viewed</td>
          <td>999 times</td>
        </tr>
        <tr>
          <td class="stats">active</td>
          <td>now</td>
        </tr>
      </table>
    </div>

    <div class="main_content">

      <div class="question">

    <% if logged_in? %>
      <div class="add-answer">
        <form class="post_answer" action="/answer/<%= @question.id %>" method="POST">
          <textarea name="body"></textarea>
        </form>
          <div class="add_comment_link">
            <a class="new_comment_link" href="/questions/<%= @question.id%>/comments/new">
              add a comment
              <%= erb :'partials/_comment_form', locals: {parent: @question.class, id: @question.id }  %>
            </a>
          </div>
        </div>
      <% end %>

        <div class="up-down-container">
          <a href="/upvote/<%=@question.id%>/<%=current_user_id%>"><div class = "upvote-symbol"></div></a>
          <div class="upvote-count"><%=tally_votes(@question)%></div>
          <a href="/downvote/<%=@question.id%>/<%=current_user_id%>"><div class = "downvote-symbol"></div></a>
        </div>

        <div class="body-container">
            <div class="question_body"><%= @question.body %></div>
        </div>

        <div class="question-details-container">
          <div class="q-tags-container">
            <div class="tag">
              <a href="">#taggggggg</a>
            </div>
            <div class="tag">
              <a href="">#taggggggg</a>
            </div>
          </div>

          <div class="q-author-container">
            <h5 class="q-author-post-time">Asked <%= @question.created_at.strftime("%b %d") %> at <%= @question.created_at.strftime("%R") %></h5>
            <div class="username">
              <a href="/users/<%= @question.author.id %>">
                <%= @question.author.username %>
              </a>
            </div>
          </div>
        </div>


        <div class="q-edit-container">

          <div class="edit-question">
            <% if current_user_id == @question.author_id %>
              <a href="/questions/edit/<%= @question.id %>">edit</a>
            <% end %>
          </div>
        </div>




      <div class="question-comments-container"> <!-- #was span for appending... -->
        <% @question.comments.each do |comment| %>
        <div>
          <%= comment.body %>
          <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
          <!-- <%= comment.updated_at.strftime("%b %d") %> at <%= comment.updated_at.strftime("%R") %>  -->
            <% if current_user.id == comment.author.id %>
                <span id="edit_content">
                  <a href="/comments/edit/<%= comment.id %>">edit</a>
                </span>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>




<!-- START ANSWERS WITH HEADER -->
      <% if @question.answers %>
      <div class="answers-global-container">
        <div class="answers-header">
          <div class="answers-count">
              <% if @question.answers.length == 1 %>
                <h1><%= @question.answers.length %></h1> <span class="answer-count-span">Answer</span>
              <% else %>
                <h1><%= @question.answers.length %></h1> <span class="answer-count-span">Answers</span>
              <% end %>
          </div>
        </div>
          <!-- <div class="answer-sort-options">#oldest, votes</div> -->

        <%end%>

        <% @question.answers.each do |answer| %>
        <div class="answer-holder">

          <div class="answer-container">
            <div class="a-up-down-container">
              <a href="/upvote/<%=@question.id%>/<%=answer.id%>/<%=current_user_id%>"><div class = "upvote-symbol"></div></a>
              <div class="upvote-count"><%=tally_votes(answer)%></div>
              <a href="/downvote/<%=@question.id%>/<%=answer.id%>/<%=current_user_id%>"><div class = "downvote-symbol"></div></a>
            </div>
            <div class="answer-body">
              <%= answer.body %>
            </div>


          <div class="answer-author-container">
            <div class="answer-username">
              <a href="/users/<%= answer.author_id %>">
                <%= answer.author.first_name %>
            </div>
            </a>
            <div class = "answer-edit-container">
            <% if current_user_id == answer.author.id %>
                <a href="/answers/edit/<%= answer.id %>">
                  edit
                </a>
            <% end %>
          </div>
            <div class="answer-reply-time">
              answered <%= answer.created_at.strftime("%b %d") %> at <%= answer.created_at.strftime("%R") %>
            </div>
          </div>
        </div>
        <div class="add-comment-button">
          <div class="arrow-right"></div>
          <a class="answer-comment-button"  href="/answers/<%=answer.id%>/comments/new">add a comment</a>
        </div>
        <%= erb :'partials/_comment_form',  :locals => { parent: current_user.id , id: answer.id } %>
<!-- this is the start of the problem -->
        <% answer.comments.each do |comment| %>
          <div class="question-comments-buffer">
            <div class="question-comments-container">
              <div class= "a-comment-body">
                <%= comment.body %>
                <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                <%= comment.updated_at.strftime("%b %d") %>
                at
                <%= comment.updated_at.strftime("%R") %>
                <% if current_user.id == comment.author.id %>
                  <div id="a-comment-edit">
                    <a href="/comments/edit/<%= comment.id %>">
                      edit
                    </a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
<!-- this is the end -->
      </div>


  <% end %>
      <!-- line above is end of div for answer container -->
<!--  -->
</div>
