<div class="container">
  <div class="title">
    <h1 class="question_title"><%= @question.title %></h1>
  </div>

  <div class="body">

    <div class="sidebar">
      <table>
        <tr>
          <td class="stats">asked</td>
          <td>date</td>
        </tr>
        <tr>
          <td class="stats">viewed</td>
          <td>999 times</td>
        </tr>
        <tr>
          <td class="stats">active</td>
          <td>now</td>
        </tr>
      </table>
    </div>

    <div class="main_content">

      <div class="question">
        <div class="up-down-container">
          <a href="/upvote/<%=@question.id%>/<%=current_user_id%>"><div class = "upvote-symbol"></div></a>
          <div class="upvote-count"><%=tally_votes(@question)%></div>
          <a href="/downvote/<%=@question.id%>/<%=current_user_id%>"><div class = "downvote-symbol"></div>
        </div>
        <div class="body-container">
            <div class="question_body"><%= @question.body %></div>
        </div>
      </div>


      <div class="question_taggings">
        <span><a href="">#taggggggg</a></span>
        <span><a href="">#taggggggg</a></span>
      </div>

      <div>
        <% if current_user_id == @question.author_id %>
          <span id="edit_answer">
            <a href="/questions/edit/<%= @question.id %>">
              <div class="edit_question">edit</div>
            </a>
        <% end %>
        <div class="author_details">
          <span>asked <%= @question.created_at.strftime("%b %d") %> at <%= @question.created_at.strftime("%R") %></span>
          <span class="username">
            <a href="/users/<%= @question.author.id %>">
              <img src="/pikachu.png" alt="author profile picture" />
              <%= @question.author.username %>
            </a>
          </span>
        </div>
      <div>

      <div class="add_comment_link">
        <a id="new_comment_link" href="/questions/<%= @question.id%>/comments/new">add a comment</a>
        <%= erb :'partials/_comment_form', locals: {parent: @question.class, id: @question.id }  %>
      </div>

      <div class="question_comments">
        <% @question.comments.each do |comment| %>
        <span class="for_appending_comments">
          <%= comment.body %> -
          <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
          <%= comment.updated_at.strftime("%b %d") %> at <%= comment.updated_at.strftime("%R") %>
          <% if current_user.id == comment.author.id %>
                <span id="edit_content">
                  <a href="/comments/edit/<%= comment.id %>">
                    edit
                  </a>
                </span>
              <% end %>
            </span>
        <% end %>
      </div>

      <% if @question.answers %>
        <div class="answers_heading">
          <table>
            <tr>
              <% if @question.answers.length == 1 %>
                <td><%= @question.answers.length %> Answer</td>
              <% else %>
                <td><%= @question.answers.length %> Answers</td>
              <% end %>
              <td id="sorting_class">#oldest, votes</td>
            </tr>
          </table>
        </div>



        <!-- Need to refactor to not double the code -->
        <!-- iterate through each first for all answers -->


        <% @question.answers.each do |answer| %>
          <div class="question">
            <div class="up-down-container">
              <a href="/upvote/question/<%=@question.id%>/<%=answer.id%>/<%=current_user.id%>"><div class = "upvote-symbol"></div></a>
              <div class="upvote-count"><%=tally_votes(answer)%></div>
              <a href="/downvote/question/<%=@question.id%>/<%=answer.id%>/<%=current_user.id%>"><div class = "downvote-symbol"></div>
            </div>
            <div class="question_body"><%= answer.body %></div>
          </div>

          <div>
            <% if current_user.id == answer.author.id %>
              <span id="edit_answer">
                <a href="/answers/edit/<%= answer.id %>">
                  edit
                </a>
              </span>
            <% end %>
            <div class="author_details" id="author_details_answers">
              <span>answered <%= answer.created_at.strftime("%b %d") %> at <%= answer.created_at.strftime("%R") %></span>
              <span class="username">
                <a href="/users/<%= answer.author.id %>">
                  <img src="/pikachu.png" alt="author profile picture" />
                  <%= answer.author.username %></span>
              </a>
            </div>
          <div>

          <div class="add_comment_link">
            <a id="new_comment_link" href="/answers/<%=answer.id%>/comments/new">add a comment</a>
            <%= erb :'partials/_comment_form', locals: {parent: answer.class, id: answer.id } %>
          </div>

          <div class="question_comments">
            <% answer.comments.each do |comment| %>
            <span>
              <%= comment.body %> -
              <a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
              <%= comment.updated_at.strftime("%b %d") %>
              at
              <%= comment.updated_at.strftime("%R") %>
              <% if current_user.id == comment.author.id %>
                <span id="edit_content">
                  <a href="/comments/edit/<%= comment.id %>">
                    edit
                  </a>
                </span>
              <% end %>
            </span>
            <% end %>
          </div>
        <% end %>
      <% end %>

      </div>

      <% if logged_in? %>
      <div class="add_answer">
        <p>Your Answer</p>
        <form class="post_answer" action="/answer/<%= @question.id %>" method="POST">
          <textarea name="body"></textarea>
          <button>Post Your Answer</button>
        </form>
      </div>
      <% end %>
  </div>

</div>
