<div class="container">
  <div class="title">
    <h2 class="question_title"><%= @question.title %></h2>
  </div>

  <div class="body">

    <div class="sidebar">
      <table>
        <tr>
          <td class="stats">asked</td>
          <td>date</td>
        </tr>
        <tr>
          <td class="stats">viewed</td>
          <td>999 times</td>
        </tr>
        <tr>
          <td class="stats">active</td>
          <td>now</td>
        </tr>
      </table>
      <img src="/ads/sidebar.png" />
    </div>

    <div class="main_content">
      <div class="ad">
        <img src="/ads/puppy.png" atl="ad image" />
      </div>

      <div class="question">
        <div class="question_votes"><img src="/temp_vote.png" /></div>
        <div class="question_body"><%= @question.body %></div>
      </div>

      <div>
        <div class="author_details">
          <span>asked <%= @question.created_at.strftime("%b %d") %> at <%= @question.created_at.strftime("%R") %></span>
          <span class="username">
            <a href="/user/<%= @question.author.id %>">
              <img src="/pikachu.png" alt="author profile picture" />
              <%= @question.author.username %>
            </a>
          </span>
        </div>
      <div>

      <div class="add_comment_link"><a href="/answers/new">add a comment</a></div>

      <div class="question_comments">
        <% @question.comments.each do |comment| %>
        <span>
          <%= comment.body %> -
          <a href="/user/<%= comment.author.id %>"><%= comment.author.username %></a>
          <%= comment.updated_at.strftime("%b %d") %> at <%= comment.updated_at.strftime("%R") %>
        </span>
        <% end %>
      </div>

      <div class="answers_heading">< Answers
         | #Sorting links: active, oldest, votes
      </div>



      <!-- Need to refactor to not double the code -->
      <!-- iterate through each first for all answers -->



      <div class="question">
        <div class="question_votes"><img src="/temp_vote.png" /></div>
        <div class="question_body"><%= @answer.first.body %></div>
      </div>

      <div>
        <div class="author_details">
          <span>answered on <%= @answer.first.created_at.strftime("%m/%d/%Y") %></span>
          <span class="username">
            <a href="/user/<%= @answer.first.author.id %>">
              <img src="/pikachu.png" alt="author profile picture" />
              <%= @answer.first.author.username %></span>
          </a>
        </div>
      <div>

      <div class="add_comment_link"><a href="/answers/new">add a comment</a></div>

      <div class="question_comments">
        #interpolate all comments
        <span><%= @comments.first.body %> #Author name # Date</span>
        <span><%= @comments.last.body %>#Author name # Date</span>
      </div>

      <div class="add_answer">
        <p>Your Answer</p>
        <form action="##" method="POST">
          <textarea></textarea>
          <button>Post Your Answer</button>
          <a href="#">#Discard</a>
        </form>
      </div>

    </div>

  </div>

</div>
