<div class="profile-container container">
<h3><%=@user.first_name%>'s profile</h3>
<div class="user-info">
  <div id="user-pic">my pic yo</div>
  <div class="user-info-container">
    <div id="user-about">
      <h1 id="about-me">About me</h1>
        <p>I am just a lonely farm girl.</p>
      <h2>My questions</h2>
      <div class="user-questions">
        <table class="user-page-table">
          <% @user.questions.each do |q| %>
          <tr>
            <td><a href="/questions/<%=q.id%>" class="table-links"><%=q.title%></a></td>
          </tr>
        <%end%>
        </table>
      </div>
      <h2>Questions I have answered</h2>
      <div class="user-answers">
        <table class="user-page-table">
          <%@user.answers.each do |answer|%>
          <tr>
            <td><a href="/questions/<%=answer.question.id%>" class="table-links"><%= answer.question.title %></a></td>
          </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
